* {
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Montserrat";
}

body, html {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 38px;
    color: #1d1d1d;
    font-family: "Montserrat";
}

h2 {
    font-size: 30px;
    color: #191919;
    font-family: "Montserrat";
}

.button {
    font-size: 12px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Montserrat";
    width: 180px;
    height: 54px;
    background-color: #10c9c3;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1%;
}

.wrap {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    padding-top: 30px;

}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    &--column {
        flex-direction: column;
    }
}

.text-after-header {
    font-size: 16px;
    color: #787878;
    font-family: "Nunito Sans";
    padding-top: 24px;
    padding-bottom: 24px;
    width: 50%;
    margin: auto;
    
    
}

/* form {
    display: flex;
    flex-direction: column;
    
} */

.input {
    height: 48px;
    border: 0;
    padding: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    
    &--small {
        width: 49%;
    }
    
    &--big {
        width: 100%;
    }
    
    &--high {
        height: 144px;
    }
    
    &--left {
        float: left;
    }
    
    &--right {
        float: right;
    }
}


/*********************************/

.home {
    height: 100%;
    background-image: url(img/biurko.jpg);
    background-size: cover;
    
    &__text {
        
        width: 480px;
        margin-left: auto;
        margin-right: 5%;
        padding-top: 200px;
    
        p {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 18px;
        color: #787878;
        font-family: "Nunito Sans";
        }
    }
}

.nav {
    width: 80%;
    margin-left: 10%;
    padding-top: 30px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    
    
    &__list {
        
        display: flex;
        justify-content: space-between;
    }


    &__item{
            display: inline-block;
        &:hover {
            color: #10c9c3;
        }
        
        &--current {
            color: #10c9c3;
        }
    }

}

.about {
    
    height: 50%;
    text-align: center;
    
    &__text {
        padding-top: 32px;
        width: 50%;
        margin: auto;
        
        p {
            font-size: 16px;
            line-height: 24px;
            color: #787878;
            font-family: "Nunito Sans";
            text-align: center;
            margin: 5%;
        }
    }
}

.skills {
    
    height: 100%;
    
    &--right{
        height: 100%;
        width: 50%;
        background-image: url(img/home2.jpg);
        float: right;
    }
    
    &--left{
        height: 100%;
        width: 50%;
        background-color: #f8f9f9;

        
        
    }
    
    .content {
        width: 70%;
        
        
        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 30px;
            font-weight: 700;
        }
        
        &__container {
            width: 100%;
            background-color: #ddd;
            
            .progress {
                padding: 2px;
                color: white;
                text-align: right;
                background-color: #10c9c3;
                margin-top: 20px;

                &--ui {
                    width: 75%; 
                }
                
                &--web {
                    width: 90%; 
                }
                
                &--mar {
                    width: 60%; 
                }
            }
        }
    }
}

.icons-numbers {
    height: 240px;
    background-color: #10c9c3;
    
    
    &__box {
        width: 300px;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: white;
        line-height: 24px;
        font-weight: 700;
        
        img {
            width: 48px;
            height: 48px;
            float: left;
            margin-right: 12px;
        }
        
        &--number {
            font-size: 18px;
            
        }
    }
    
}

.boxes-photo {

    .products {
        display: flex;
        flex-wrap: wrap;
        //background-color: black;

        &__box {
            width: 25%;
            height: 300px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
            }

            &:after {
                content: '\A';
                position: absolute;
                width: 100%; height:100%;
                top:0; left:0;
                background:rgba(0,0,0,0.6);
                opacity: 0;
                transition: all 1s;
                -webkit-transition: all 1s;
            }

            &:hover:after {
                opacity: 1;
            }

            /*img:hover {
                opacity: 0.3;
                content: "sialala";
            }*/

        }
    }
    
    &__load {
            background-color: #f5f5f5;
            height: 100px;
            color: #8e8e8e;
            font-weight: 700; 
            cursor: pointer;
        }
}

.video {
    min-height: 880px;
    height: 100%;
    text-align: center;
    
    
    &__text {
        width: 50%;
        padding-top: 32px;
        padding-bottom: 48px;
        margin: auto;
        
        p {
            font-size: 16px;
            color: #787878;
            font-family: "Nunito Sans";
            padding-top: 24px;
        }
        
    }
    
    
}

.icons {
    min-height: 300px;
    height: 50%;
    background-color: #f5f5f5;

    .icon-boxes {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
       

        &__box {
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 48px;
                height: 48px;
                margin-bottom: 24px;
            }

            &--title {
                font-weight: 700;
            }
            
            p {
                width: 250px;
                font-size: 16px;
                color: #787878;
                font-family: "Nunito Sans";
                margin-top: 16px;
            }
        }
    }
}

.testimonials {
    min-height: 400px;
    height: 50%;
    background-color: #10c9c3;
    color: white;
    
    
    &__slider {
        text-align: center;
        width: 50%;
        padding-bottom: 64px;
        
        p {
            font-size: 30px;
            padding-bottom: 32px;
        }
    
    }
}

.logos {
    
    height: 200px;
        
    img {
        width: 100px;
        
        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }
    
    
}

.contact {
    //padding-top: 10%;
    height: 100%;
    background-color: #f5f5f5;
    text-align: center;
    
    &__form {
        margin-left: 20%;
        width: 60%;
    }
    
}




