* {
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Montserrat"; }

body, html {
  height: 100%; }

a {
  text-decoration: none;
  color: inherit; }

h1 {
  font-size: 38px;
  color: #1d1d1d;
  font-family: "Montserrat"; }

h2 {
  font-size: 30px;
  color: #191919;
  font-family: "Montserrat"; }

.button {
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Montserrat";
  width: 180px;
  height: 54px;
  background-color: #10c9c3;
  text-transform: uppercase;
  font-weight: 700; }

.wrap {
  height: 100%;
  width: 80%;
  margin-left: 10%;
  padding-top: 30px; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .flex-center--column {
    flex-direction: column; }

/*********************************/
.home {
  height: 100%;
  background-image: url(img/biurko.jpg);
  background-size: cover; }
  .home__text {
    width: 480px;
    margin-left: auto;
    margin-right: 5%;
    padding-top: 200px; }
    .home__text p {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 18px;
      color: #787878;
      font-family: "Nunito Sans"; }

.nav {
  position: absolute;
  display: flex;
  justify-content: space-between; }

.menu {
  width: 60%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700; }
  .menu__list {
    display: flex;
    justify-content: space-between; }
  .menu__item {
    display: inline-block; }
    .menu__item:hover {
      color: #10c9c3; }
    .menu__item--current {
      color: #10c9c3; }

.about {
  height: 50%;
  text-align: center; }
  .about__text {
    padding-top: 32px;
    width: 50%;
    margin: auto; }
    .about__text p {
      font-size: 16px;
      line-height: 24px;
      color: #787878;
      font-family: "Nunito Sans";
      text-align: center;
      margin: 5%; }

.skills {
  height: 100%; }
  .skills--right {
    height: 100%;
    width: 50%;
    background-image: url(img/home2.jpg);
    float: right; }
  .skills--left {
    height: 100%;
    width: 50%;
    background-color: #f8f9f9; }
  .skills .content {
    width: 70%; }
    .skills .content p {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      margin-top: 30px;
      font-weight: 700; }
    .skills .content__container {
      width: 100%;
      background-color: #ddd; }
      .skills .content__container .progress {
        padding: 2px;
        color: white;
        text-align: right;
        background-color: #10c9c3;
        margin-top: 20px; }
        .skills .content__container .progress--ui {
          width: 75%; }
        .skills .content__container .progress--web {
          width: 90%; }
        .skills .content__container .progress--mar {
          width: 60%; }

.icons-numbers {
  height: 240px;
  background-color: #10c9c3; }
  .icons-numbers__box {
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 24px;
    font-weight: 700; }
    .icons-numbers__box img {
      width: 48px;
      height: 48px;
      float: left;
      margin-right: 12px; }
    .icons-numbers__box--number {
      font-size: 18px; }

.boxes-photo .products {
  display: flex;
  flex-wrap: wrap; }
  .boxes-photo .products__box {
    width: 25%;
    height: 300px;
    position: relative;
    /*img:hover {
        opacity: 0.3;
        content: "sialala";
    }*/ }
    .boxes-photo .products__box img {
      width: 100%;
      height: 100%; }
    .boxes-photo .products__box:after {
      content: '\A';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: all 1s;
      -webkit-transition: all 1s; }
    .boxes-photo .products__box:hover:after {
      opacity: 1; }
.boxes-photo__load {
  background-color: #f5f5f5;
  height: 100px;
  color: #8e8e8e;
  font-weight: 700;
  cursor: pointer; }

.video {
  height: 100%;
  text-align: center; }
  .video__text {
    width: 50%;
    padding-top: 32px;
    padding-bottom: 48px;
    margin: auto; }
    .video__text p {
      font-size: 16px;
      color: #787878;
      font-family: "Nunito Sans";
      padding-top: 24px; }

.icons {
  height: 50%;
  background-color: #f5f5f5; }
  .icons .icon-boxes {
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
    .icons .icon-boxes__box {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .icons .icon-boxes__box img {
        width: 48px;
        height: 48px;
        margin-bottom: 24px; }
      .icons .icon-boxes__box--title {
        font-weight: 700; }
      .icons .icon-boxes__box p {
        width: 250px;
        font-size: 16px;
        color: #787878;
        font-family: "Nunito Sans";
        margin-top: 16px; }

.testimonials {
  height: 50%;
  background-color: #10c9c3;
  color: white; }
  .testimonials__slider {
    text-align: center;
    width: 50%;
    padding-bottom: 64px; }
    .testimonials__slider p {
      font-size: 30px;
      padding-bottom: 32px; }

/*# sourceMappingURL=style.css.map */
